/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid rgb(76, 179, 17);
  }

  .header h1{
    color: #777;
  }

  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
    color: rgba(76, 179, 17, 0.767);
    font-family: monospace;
    font-size: 50px;
    font-weight: 600;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid rgb(76, 179, 17);
  }
  
  .container-narrow > hr {
    margin: 2rem 0;
  }

  .row .img img{
    width: 100%;
    height: 80%;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: .05rem solid rgb(177, 255, 52);
    background-color: rgba(142, 238, 52, 0.795);
  }
  .jumbotron h1{
    color: rgb(36, 35, 35);
    font-size: 60px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .jumbotron .btn {
    margin-top: 20px;
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(11, 121, 35);
    border: rgb(76, 179, 17);
    font-family: monospace;
  }

  .jumbotron .btn:hover{
    box-shadow:  0px 12px 12px 10px rgba(87, 92, 86, 0.312);
    transition: .3s all;
  }

  .form-group label{
    color: rgb(36, 35, 35);
    font-size: 25px;
    font-family: monospace;
    padding-top: 10px;
  }

  .form-group input{
    padding: 10px 10px;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 3rem 0;
  }
  .marketing p + h4 {
    margin-top: 1.5rem;
  }

  .well{
    background-color: rgba(76, 179, 17, 0.867);
    padding: .75rem 1.5rem;
    margin: 3rem 0;
    color: #fff;
  }

  .well h3{
    display: flex;
    justify-content: space-between;
  }

  .book .btn-primary{
    background-color: rgb(36, 82, 10);
    box-shadow:  0px 12px 12px 10px rgba(76, 179, 17, 0.637);
    border: none;
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

  @media (max-width: 425px){
    .jumbotron h1{
      font-size: 35px;
    }
    .well h3{
      display: flex;
      justify-content: space-between;
      font-size: 22px;
    }
  }

  @media (max-width: 320px){
    .well .book .btn{
      padding: .5rem;
      font-size: 12px;

    }
  }